body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 5px 0px;
}
body a {
  text-decoration: none;
  color: inherit;
}
body button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  height: 100px;
}
header img {
  height: 50px;
}
header img.logo-mobile {
  display: none;
}
header ul {
  list-style-type: none;
  display: flex;
  height: 100px;
}
header ul li {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
header ul li:nth-child(1) {
  color: #0065FC;
}
header ul li:nth-child(2) {
  color: #000;
}
header ul li.active {
  border-top: 2px solid #0065FC;
}
header ul li a {
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  flex-flow: row wrap;
  column-gap: 25px;
}

.division {
  display: flex;
  margin-bottom: 25px;
}

.division__search {
  order: 1;
  flex: 1 1 100%;
  flex-direction: column;
}
.division__search__form {
  display: flex;
  margin-top: 25px;
}
.division__search__form i {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #F2F2F2;
  width: 45px;
  border-radius: 15px 0 0 15px;
  text-align: center;
}
.division__search__form input {
  height: 45px;
  border: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 15px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}
.division__search__form button {
  background-color: #0065FC;
  border-radius: 0 15px 15px 0px;
  border: none;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  width: 115px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.division__search__filters {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.division__search__filters h3 {
  margin-right: 25px;
}
.division__search__filters ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}
.division__search__filters ul li {
  border: 2px solid #DEDEDE;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 10px 0;
  -webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}
.division__search__filters ul li:hover {
  background-color: #DEEBFF;
}
.division__search__filters ul li i {
  color: #0065FC;
  background-color: #DEEBFF;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.division__search__filters ul li a {
  color: #000;
  display: inline;
  padding: 0 12px;
}
.division__search__infos {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.division__search__infos i {
  color: #0065FC;
  border: 1px solid #DEDEDE;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}
.division__search__infos p {
  color: gray;
}

.division__results {
  order: 2;
  flex: 1 1 60%;
  border-radius: 25px;
  border: 1px solid #e7e7e7;
  padding: 40px 50px;
  flex-direction: column;
}
.division__results .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 15px 0px;
}
.division__results--gray {
  background-color: #F2F2F2;
}

.division__results .card {
  cursor: pointer;
  background-color: #fff;
  width: auto;
  height: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
  flex: 1 1 25%;
}
.division__results .card__img {
  border-radius: 20px 20px 0 0px;
  width: 100%;
  height: 145px;
  object-fit: cover;
}
.division__results .card__infos {
  align-self: flex-start;
  margin: 10px 15px;
}
.division__results .card__infos span {
  font-weight: bold;
}
.division__results .card__infos__rating .fa-star {
  color: silver;
}
.division__results .card__infos__rating .fa-star.checked {
  color: #0065FC;
}
.division__results .card .show-more {
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0px;
}

.division__populars {
  order: 3;
  flex: 1 1 20%;
  border-radius: 25px;
  border: 1px solid #e7e7e7;
  padding: 30px;
  flex-direction: column;
}
.division__populars h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.division__populars .card-list {
  display: flex;
  align-content: space-between;
  flex-flow: row wrap;
  margin-top: 15px;
  height: 100%;
  gap: 25px;
}
.division__populars--gray {
  background-color: #F2F2F2;
}

.division__populars .card {
  cursor: pointer;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  height: auto;
  min-height: 170px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
}
.division__populars .card__img {
  border-radius: 20px 0 0 20px;
  width: 150px;
  min-width: 150px;
  object-fit: cover;
  height: 100%;
}
.division__populars .card__infos {
  align-self: flex-start;
  margin: 10px 15px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}
.division__populars .card__infos p {
  flex: 2;
}
.division__populars .card__infos p span {
  font-weight: bold;
}
.division__populars .card__infos__rating {
  justify-self: flex-end;
}
.division__populars .card__infos__rating .fa-star {
  color: silver;
}
.division__populars .card__infos__rating .fa-star--checked {
  color: #0065FC;
}

.division__activities {
  order: 4;
  flex: 1 1 100%;
  flex-direction: column;
}
.division__activities .item-list {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  column-gap: 25px;
}
.division__activities .item {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
}

.division__activities .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
}
.division__activities .card__img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.division__activities .card__img--big {
  height: 480px;
}
.division__activities .card__img--small {
  height: 160px;
}
.division__activities .card__infos {
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  margin: 0px;
  height: 50px;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.division__activities .card__infos p {
  padding-left: 15px;
}

.footer {
  border-top: 2px solid #e7e7e7;
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
}
.footer__section {
  width: 500px;
}
.footer__section p {
  font-size: 18px;
  font-weight: bold;
}
.footer__section ul {
  list-style-type: none;
  padding: 0px;
}
.footer__section ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
  .division__results {
    margin: 0px;
    border: none;
    flex: 1 1 100%;
    padding: 0px;
    margin-bottom: 30px;
    order: 3;
  }

  .division__results.bg-gray {
    background-color: #fff;
  }

  .division__populars {
    order: 2;
    flex: 1 1 100%;
  }

  .division__populars .card-list {
    row-gap: 30px;
  }

  .division__populars .card img {
    width: 200px;
  }

  .division__activities .item-list {
    flex-direction: column;
  }

  .division__activities .item {
    flex: 1 1 100%;
  }

  .division__activities .card {
    margin-bottom: 30px;
  }

  .division__activities .card__img--small,
.division__activities .card__img--big {
    height: 175px;
    width: 100%;
  }

  footer {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    height: 100%;
    padding: 0px;
  }

  header img {
    padding-top: 25px;
  }

  header img.logo-desktop {
    display: none;
  }

  header img.logo-mobile {
    display: inline;
  }

  header nav {
    width: 100%;
  }

  header ul {
    justify-content: center;
    padding: 0px;
    height: 100%;
  }

  header ul li {
    border-bottom: 4px solid #DEDEDE;
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 50px;
  }

  header ul li.active {
    border-top: none;
    border-bottom: 4px solid #0065FC;
  }

  main {
    width: auto;
  }

  .division__search,
.division__results,
.division__activities {
    padding: 0 25px;
  }

  .division__search form button {
    font-size: 0;
    width: 47px;
    border-radius: 15px;
    margin-left: -15px;
  }

  .division__search form button::before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    font-size: initial;
  }

  .division__search .filters {
    flex-wrap: wrap;
  }

  .division__search .filters ul {
    margin-top: 10px;
  }

  .division__results .card {
    flex: 1 1 100%;
  }

  .division__populars {
    border-radius: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
